.action {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.3s;
  color: #cdd0e2;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #00fbf9;
  }

  &:global(.opened) {
    background: rgba(255, 255, 255, 0.1);
    color: #00fbf9;
  }
}

.action > span {
  vertical-align: middle;
  color: #cdd0e2;
}

.account > .avatar {
  margin-right: 8px;
  vertical-align: top;
  background: rgba(255, 255, 255, 0.85);
}

.menu {
  min-width: 160px;
}
