.language-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 8px;
  height: 48px;
  color: #cdd0e2;
  transition: all 0.3s;

  &:hover {
    color: #00fbf9;
  }
}

.language-dropdown :global {
  .anticon {
    color: #cdd0e2;
    margin-right: 4px;
  }

  .anticon:hover {
    color: #00fbf9;
  }
}
